<section>
    <div class="container main-area" >

        <div class="profile-container">
            
            <div class="profile-card">

                <img src="../img/upload.png" alt="">
                <a href="/uploadPhoto">Upload Phpto</a>

            </div>
            <div class="profile-card">

                <img src="../img/password.png" alt="">
                <a href="/changePassword">Change Password</a>
            </div>
            <div class="profile-card">

                <img src="../img/tasks.png" alt="">
                <a href="/taskDashboard">Tasks</a>
            </div>        

        </div>

    </div>
</section>
