<section>
    <div class="container main-area" >

        <div class="form-container">

            <div>
                <h1>Upload Photo</h1>    
            </div>

            <form action="/"  method="POST" enctype="multipart/form-data">


                <div class="form-control">     
        
                    <div class="photo-contianer">

                    </div>
                    <input type="file" id="file" name="file">  
        
                </div>
                            
            </form>

        </div>

    </div>
</section>