<section>
    <div class="container main-area" >
        <div class="top-area">
            <h2>Users :</h2>    
            <form action="/addUser">
                <input type="submit" value="Add User" id="addButton" class="btn user-add-btn">
            </form>
        </div>
        <div id="user-list-bottom-area">

            <table>
                <thead>
                    <th>UserID</th>
                    <th>First tName</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jon</td>
                        <td>Snow</td>
                        <td>j@snow.com</td>
                        <td>Active</td>
                        <td><a href="" class="btn deactivate-btn">Deactivate</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Keisha</td>
                        <td>Wharton</td>
                        <td>k@wharton.com</td>
                        <td>Inactive</td>
                        <td><a href="" class="btn deactivate-btn">Deactivate</a></td>
                    </tr>
                </tbody>
            </table>

    </div>
</section>